* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }
 
.ContentWrapper{
    display: grid;
    justify-content: center;
    grid-gap: 1px;
    list-style: none;
    text-align: center;
    margin-left: 5em;
}

.AboutMeHeader {
    margin-top: -10em; 
    border-bottom: 1px solid #000; 
    
  }