
.ExperiencesHeaderDiv{
    display: grid;
    justify-content: center;
}


.experiencesShelfLeft{
    
    list-style: none;
    display: block;
}

.ExperiencesMain{
    /* margin-left: 13em;
    margin-right: 13em; */
    
}
.ExpereiencesBtn{

     display: flex; 
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    word-wrap: break-word; 
    width: 150px;
    
    padding: 20px 35px;
    border: none;
    
    background-color: white;
    border-left: 4px solid rgb(219, 65, 65);
    transition: background-color 0.3s, color 0.3s;
    color: black;
    
    
}
.ExpereiencesBtn:hover{
    background-color:  rgb(165, 61, 61);
    color: white;
    
}
.ExpereiencesBtn.active {
    background-color: rgb(165, 61, 61);
    color: white;
}


.experiencesSubSection{
    padding: 75px;
    
   display: flex;
   justify-content: center;
   /* justify-content: center; */
   grid-template-columns: repeat(2,auto);
   gap: 4em;
   /* grid-template-columns: 300px 7; */


    /* this is for the space between experience section and the projects section */
    margin-bottom: 9em;
}

.expereinceFTCBulletPoint{
    list-style-type: none;
    padding-left: 5px;
    margin-top: 1em;
}
.expereinceFTCBulletPoint::before{
    content: "\2937";
}

.expereinceInformationHeader{
    padding-bottom: 30px;
}


.expereinceInformationSubHeader{
    padding-bottom: 30px;

}