.greyLineForFooter{
    border-bottom: 3px solid #f0e9e9;
}


.FooterDiv{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    grid-gap: 55em;  
}


.gitHubButtonFooter{
    width: 50px;
    scale: .8;
    transition: transform .3s ease;
}

.linkdinButtonFooter{
    width: 50px;
    scale: .8;
    transition: transform .3s ease;
}
.gitHubButtonFooter:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.linkdinButtonFooter:hover{
    transform: scale(1.2);
    cursor: pointer;


}

.nameDivForFooter{
    margin-top: .5em;
}

@media (min-width: 530px) and (max-width: 1050px) {
    .FooterDiv{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        grid-gap: 15em;  
    }


}

@media (min-width: 300px) and (max-width: 529px) {
    .FooterDiv{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        grid-gap: 5em;  
    }
    

}
@media (min-width: 1px) and (max-width: 300px) {
    .FooterDiv{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        grid-gap: 1em;  
    }
    

}