.navbarItems {
    background: white;
    color: black; 
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    transition-property: all;
    z-index: 1000;
    width: 100%;
    transition: all 3s ease-in;
    border-bottom: 2px solid #f0e9e9;
     /* Adjust the timing function to your preference */
}


.navbar-logo{
    color: rgb(219, 65, 65);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    justify-self: start;
    margin-left: 2.3em;
    cursor: pointer;
}
.fa-react{
    margin-left: .5rem;
    font-size: 1.6rem;
}
.navMenu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width:90vw;
    margin-right: 2rem;
    justify-content: end;
}




.nav-links{
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 1.2em;
}

.nav-links:hover {
    background-color: #cecbcb;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: black;
}


@media (min-width: 1px) and (max-width: 700px) {
    
   

}